
        :root {
           --color-fondo: #d8d0b2;
           --color-texto: #000000;
           --color-titulo: #ffffff;
           --color-fondo-secundario: #c1c1c1;
           --color-fondo-titulo: #393939;
           --color-fondo-animacion: #e7e7e7;

           --tamaño-letra-titulos: 2.2rem;
           --tamaño-letra-subtitulos: 1.4rem;
           --tamaño-texto: 0.9rem;

           --fuente-letra-titulo: "Times New Roman", serif;
           --fuente-letra-principal: "Open Sans", Arial, Verdana, Helvetica, sans-serif;

           --espaciado-pequeño: 8px;
           --espaciado-mediano: 16px;
           --espaciado-grande: 24px;

           --radio-borde: 10px;
           --radio-borde2: 22px;
        }

        body {
            font-family: var(--fuente-letra-principal);
            color: var(--color-texto);
            background-color: var(--color-fondo);
            font-size: var(--tamaño-texto);
        }

        header h1 {
            font-family: var(--fuente-letra-titulo);
            font-size: var(--tamaño-letra-titulos);
            background-color: var(--color-fondo-titulo);
            color: var(--color-titulo);
            border-radius: var(--radio-borde);
            padding: var(--espaciado-pequeño);

        }

        section h2 {
            display: flex;
            font-size: var(--tamaño-letra-subtitulos);
            padding: var(--espaciado-pequeño);
            
        }

        p {
            margin-bottom: var(--espaciado-pequeño);
            
        }

        aside {
            width: 150px;
            background-color: var(--color-fondo-secundario);
            border-radius: var(--radio-borde);
            padding: var(--espaciado-pequeño);

        }

        main {
            flex: 1;
        }

        .tarea {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: var(--espaciado-mediano);
            margin-bottom: var(--espaciado-pequeño);
            margin-right: var(--espaciado-pequeño);
            background-color: var(--color-fondo-secundario);
            border-radius: var(--radio-borde2);
            transition: background-color 0.35s ease, transform 0.35s ease;
        }

        .filtros {
            display: flex;
            flex-direction: column;
            gap: 2px;
        }

        aside .busqueda {
            width: 100%;
            margin-bottom: var(--espaciado-mediano);
            border-radius: var(--radio-borde);
        }
        aside .busqueda input {
            width: 100%;
            padding: var(--espaciado-pequeño);
            border-radius: var(--radio-borde);
            box-sizing: border-box;
        }

        .tarea:hover {
            background-color: var(--color-fondo-animacion);
            transform: scale(1.0150);
        }
        .tarea:first-child {
            margin-top: 10px;
        }

        .alineado {
            display: flex;
            gap: var(--espaciado-mediano);
        }

        @media (max-width: 768px) {
            .alineado {
                flex-direction: row;
            }
            .tarea {
                flex-direction: column;
                align-items: flex-start;
                gap: var(--espaciado-pequeño)
            }
        }

        #inputTarea {
            padding: var(--espaciado-pequeño);
            border-radius: var(--radio-borde);
            box-sizing: border-box;
        }

        select {
            padding: var(--espaciado-pequeño);
            border-radius: var(--radio-borde);
            box-sizing: border-box;
        }
        
        button {
            padding: var(--espaciado-pequeño);
            border-radius: var(--radio-borde);
            box-sizing: border-box;
        }
